

  
  .prd_container {
    display: flex;
    gap:2;
    overflow-x: scroll;
    width: 100%;
    height: 200px;
  }
  
  .card {
    flex-shrink: 0;
    max-width: 300px;
    height: 200px;
    border-radius: 10px;
    margin-left: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }


  .main_prd{
     cursor: pointer;
  }

  .product-list:hover {
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    animation: 1s linear 0.1s colorIt;
  }
